h2.section-subheading {
  &.about {
    width: 386px;
    color: #fff;
  }
}

.section-about {
  padding-top: 80px;
  overflow: hidden;
  h2 span {
    font-weight: 200;
    letter-spacing: 1;
  }
  .text {
    margin-top: 15px;
    p {
      font-size: 1em;
      line-height: 1.6;
      padding-top: 20px;
      color: #292c34;
      font-weight: 400;
    }
  }
}

.about-img img {
  margin: 0 0 0 -70px;
}

.sign {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.custombtn {
  background-color: #5c5c5c;
  height: 50px;
  border-radius: 3px;
  width: 240px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: 50px;
  &:hover {
    background-color: $defaultColor;
    a {
      color: #fff;
    }
  }
  .icons {
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    i {
      font-size: 1.5em;
      line-height: 2;
      padding-left: 15px;
      padding-top: 2px;
    }
  }
  .text {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    a {
      color: #fff;
    }
    a:hover {
      color: #fff;
    }
  }
}