.section-experience {
  padding-top: 20px;
  padding-bottom: 20px;
  .row {
    margin-top: 0;
  }
  .row + .row {
    margin-top: 60px;
  }
}

.experience-timeline {
  position: relative;
  // border-collapse: collapse;
  // border-spacing: 0;
  // display: table;
  // table-layout: fixed;
  // width: 100%;
  &:before {
    /*時間軸中線*/
    background-color: #424242;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
  }
  div[class^="arrow-"] {
    border-style: solid;
    border-width: 9px;
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
  }
  .years {
    display: block;
    position: absolute;
    background: #424242;
    min-height: 60px;
    top: 0;
    padding: 1em;
    @include border-radius (5px);
  }
  .row {
    &:nth-child(odd) {
      .timeline-marker {
        margin-right: 30px;
        float: right;
      }
      .timeline-details {
        margin-left: 30px;
      }
      .associations {
        padding-right: 30px;
      }
      //.arrow-right
      .arrow-right {
        border-color: transparent transparent transparent $defaultColor;
        //@include _arrow;
        right: -18px;
      }
      .years {
        left: auto;
        right: 100%;
        margin-right: 10px;
      }
    }
    &:nth-child(even) {
      .timeline-marker {
        margin-left: 30px;
        float: left;
      }
      .timeline-details {
        margin-right: 30px;
      }
      .associations {
        text-align: right;
        padding-left: 30px;
      }
      //.arrow-left
      .arrow-left {
        border-color: transparent $defaultColor transparent transparent;
        //@include _arrow;
        left: -18px;
      }
      .years {
        left: 100%;
        right: auto;
        margin-left: 10px;
      }
    }
  }
}

.timeline-marker {
  background-color: $defaultColor;
  min-height: 60px;
  color: #fff;
  @include border-radius (5px);
  text-align: center;
  margin-top: 55px;
  position: relative;
  .timeline-date {
    font-size: 1.0265em;
    font-weight: 400;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: 1em;
  }
}

// .timeline-item-left {
//   background-image: url("../images/exp-side-bg.jpg");
// }

.timeline-divider {
  background: url("../images/timeline-divider.jpg") no-repeat;
  width: 33px;
  height: 59px;
  float: right;
  margin: 58px -31px 0 0;
  color: #fff;
  text-align: center;
  i {
    padding-top: 22px;
  }
}

.associations-heading {
  margin: 0px;
  padding: 0px;
  font-size: 1.125em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $defaultColor;
  padding-top: 0;
}

.associations-subheading {
  margin: 0px;
  padding: 0px;
  color: #adadad;
  font-size: .875em;
  font-weight: 300;
  margin-top: 10px;
}

.associations {
   p {
    padding: 25px 0px;
    font-size: .9375em;
    line-height: 1.5;
    color: #35353c;
  }
}