body {
  font-family: 'Roboto',sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  color: #fa6862;
  outline: none;
  text-decoration: none;
  &:hover, &:focus {
    color: #fa6862;
    outline: none;
    text-decoration: none;
  }
}

.social-link {
  @include transition(none);
}
