// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".page";

//
body {
	font-size: $base-font-size;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
// import all things
@import "../../node_modules/compass-mixins/lib/compass";
// @import "susy";
@import "normalize";
// @include establish-baseline;

@import "colors";
@import "setting";
@import "typography";
// @import "layout";

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
@import "global";
@import "section";

/** navigation start **/
@import "navigation";
/** navigation end **/
@import "royal_preloader";
@import "animate";
@import "prettify";
@import "rev-slider-settings";
// MEGAFOLIO GALLERY  CSS
@import "megafolio-style";
@import "megafolio-settings";
// Magnific Popup core CSS file
@import "magnific-popup";
// Owl Carousel Assets
@import "owl.carousel";
@import "owl.theme";
@import "owl.transitions";
@import "font-awesome";
@import "superfish";

h1.section-heading {
  margin: 0px;
  font-family: 'Raleway',sans-serif;
  font-size: 4em;
  font-weight: 900;
  background-color: $defaultColor;
  padding: 10px 30px;
  @include border-radius(4px);
  text-align: center;
  color: #fff;
  display: inline-block;
}
