@media (max-width: 1024px) { /* line 2, ../sass/style-responsive.scss */
  .associations, .associationsnews { margin-bottom: 15px; }
  /* line 5, ../sass/style-responsive.scss */
  .container { width: 100% !important; }
  /* line 8, ../sass/style-responsive.scss */
  .custombtn { margin-bottom: 50px; }
  /* line 11, ../sass/style-responsive.scss */
  .about-img { margin-top: 15px; } }
@media (min-width: 768px) and (max-width: 980px) { /* line 17, ../sass/style-responsive.scss */
  .container { width: 100%; }
  /* line 20, ../sass/style-responsive.scss */
  .custombtn, .counter { margin-bottom: 20px; }
  /* line 23, ../sass/style-responsive.scss */
  .associations, .associationsnews { margin-bottom: 15px; }
  /* line 26, ../sass/style-responsive.scss */
  .sticky-logo { display: none; }
  /* line 29, ../sass/style-responsive.scss */
  .associationsnews { margin-top: 20px; }
  /* line 32, ../sass/style-responsive.scss */
  .nav.navbar-nav.pull-right { width: 100%; }
  /* line 35, ../sass/style-responsive.scss */
  .navigation ul { margin: 0px 0 0; }
  /* line 37, ../sass/style-responsive.scss */
  .navigation ul li a { padding: 10px; margin-bottom: 0px; font-size: 12px; }
  /* line 43, ../sass/style-responsive.scss */
  .peoples { margin-bottom: 20px; }
  /* line 46, ../sass/style-responsive.scss */
  .toggle-contact-form, .contact-form { width: 100%; margin-left: 0px; } }
@media (max-width: 767px) { /* line 53, ../sass/style-responsive.scss */
  .section-about { margin-top: 30px; }
  /* line 56, ../sass/style-responsive.scss */
  .drag-place { display: none !important; }
  /* line 59, ../sass/style-responsive.scss */
  .sf-menu > li { float: none; }
  /* line 63, ../sass/style-responsive.scss */
  .navigation.sticky-nav ul.nav > li > a, .navigation ul.nav > li > a { display: block; }
  /* line 67, ../sass/style-responsive.scss */
  .navbar-collapse { padding: 0px; height: 100%; margin-bottom: 15px; overflow: auto; }
  /* line 68, ../sass/style-responsive.scss */
  .navbar-collapse ul.nav > li > a { line-height: 50px; height: 50px; }
  /* line 77, ../sass/style-responsive.scss */
  .sf-menu ul ul { top: 0; left: 0; }
  /* line 81, ../sass/style-responsive.scss */
  .toggle-contact-form, .contact-form { width: 100%; margin-left: 0px; }
  /* line 85, ../sass/style-responsive.scss */
  .navigation ul { margin: 0; width: 100%; background: #424242; }
  /* line 90, ../sass/style-responsive.scss */
  .navigation ul li.active a, .navigation ul li a:hover { border-radius: 0; }
  /* line 95, ../sass/style-responsive.scss */
  .navbar-toggle { background: #353535; color: #fff; margin-top: 30px; }
  /* line 100, ../sass/style-responsive.scss */
  .sticky-nav .navbar-toggle { background: #353535; color: #fff; margin-top: 6px; margin-right: -6px; }
  /* line 106, ../sass/style-responsive.scss */
  .section-about { margin-top: 30px; }
  /* line 109, ../sass/style-responsive.scss */
  h1.section-heading { font-size: 50px; display: block !important; }
  /* line 113, ../sass/style-responsive.scss */
  .about-img img { width: 100%; margin: 0; }
  /* line 117, ../sass/style-responsive.scss */
  h2.section-subheading { line-height: normal; height: auto; padding: 10px; }
  /* line 121, ../sass/style-responsive.scss */
  h2.section-subheading.about { width: 100%; }
  /*.section-about .content, .content {*/
  /*padding: 0;*/
  /*}*/
  /* line 128, ../sass/style-responsive.scss */
  .associationsnews { margin-top: 20px; }
  /* line 131, ../sass/style-responsive.scss */
  .custombtn, .counter { margin-bottom: 20px; display: inline-block; }
  /* line 135, ../sass/style-responsive.scss */
  .associations, .associationsnews { margin-bottom: 15px; }
  /* line 138, ../sass/style-responsive.scss */
  .timeline-marker .label { font-size: 12px; }
  /* line 141, ../sass/style-responsive.scss */
  .section-counter { height: auto; padding-bottom: 60px; }
  /* line 145, ../sass/style-responsive.scss */
  .vc { text-align: center; }
  /* line 148, ../sass/style-responsive.scss */
  .fr, .fl { float: none; }
  /* line 152, ../sass/style-responsive.scss */
  .education .details, .education .year { width: 100%; margin-bottom: 10px; }
  /* line 157, ../sass/style-responsive.scss */
  .reddot { position: absolute; top: -15px; margin-left: -15px; left: 50%; }
  /* line 163, ../sass/style-responsive.scss */
  .right-dot { right: -15px; top: auto !important; bottom: -15px !important; }
  /* line 168, ../sass/style-responsive.scss */
  .section-education .year h2 { margin-top: 7%; }
  /* line 171, ../sass/style-responsive.scss */
  .timeline-marker .timeline-date { padding: 22px 10px; font-size: 12px; }
  /* line 175, ../sass/style-responsive.scss */
  .section-subheading-nobg { margin-bottom: 60px; }
  /* line 178, ../sass/style-responsive.scss */
  .peoples { margin-bottom: 20px; }
  /* line 181, ../sass/style-responsive.scss */
  .draggable-monitor, .drag-arrow { background: none; }
  /* line 184, ../sass/style-responsive.scss */
  .social-link, .drag-arrow { position: static !important; }
  /* line 187, ../sass/style-responsive.scss */
  .draggable-monitor { margin: 20px 0; }
  /* line 190, ../sass/style-responsive.scss */
  .drag-arrow { height: 0; } }
@media (max-width: 479px) { /* line 196, ../sass/style-responsive.scss */
  .form-container { padding: 20px 20px 50px 20px; }
  /* line 198, ../sass/style-responsive.scss */
  .form-container p:nth-child(odd) { display: none; }
  /* line 204, ../sass/style-responsive.scss */
  .iamnotfatcat h3 { font-size: 36px; width: 100%; position: absolute; bottom: 60px; text-align: center; }
  /* line 212, ../sass/style-responsive.scss */
  #awards-carousel { min-width: 218px; }
  /* line 215, ../sass/style-responsive.scss */
  .connect-section { padding-bottom: 0; }
  /* line 218, ../sass/style-responsive.scss */
  .awards-thumb { min-width: 218px; margin: 10px auto; }
  /* line 222, ../sass/style-responsive.scss */
  .quote { font-size: 1.2em; }
  /* line 225, ../sass/style-responsive.scss */
  .timeline-divider, .experience-timeline:before { display: none; }
  /* line 228, ../sass/style-responsive.scss */
  .associations { background-color: #f5f5f5; padding: 15px; }
  /* line 232, ../sass/style-responsive.scss */
  .arrow-right { display: none; }
  /* line 235, ../sass/style-responsive.scss */
  .mobile-view { width: 100% !important; }
  /* line 238, ../sass/style-responsive.scss */
  .navigation ul { margin: 0; width: 100%; background: #424242; }
  /* line 243, ../sass/style-responsive.scss */
  .navigation ul li.active a, .navigation ul li a:hover { border-radius: 0; }
  /* line 248, ../sass/style-responsive.scss */
  .navbar-toggle { background: #353535; color: #fff; margin-top: 30px; }
  /* line 254, ../sass/style-responsive.scss */
  .home-text h1 { font-size: 40px; }
  /* line 257, ../sass/style-responsive.scss */
  .home-text img { margin-top: -5px; }
  /* line 261, ../sass/style-responsive.scss */
  h1.section-heading { font-size: 30px; }
  /* line 264, ../sass/style-responsive.scss */
  .about-img img { width: 100%; margin: 0; }
  /* line 268, ../sass/style-responsive.scss */
  h2.section-subheading { line-height: normal; height: auto; padding: 10px; }
  /* line 272, ../sass/style-responsive.scss */
  h2.section-subheading.about { width: 100%; line-height: 25px; padding: 10px; }
  /* line 278, ../sass/style-responsive.scss */
  ul.tool { padding: 0 10px; }
  /* line 281, ../sass/style-responsive.scss */
  .arrow-left { display: none; }
  /* line 317, ../sass/style-responsive.scss */
  .custombtn, .counter { margin-bottom: 20px; display: inline-block; }
  /* line 324, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(odd) .timeline-marker { margin: 20px 0; }
  /* line 326, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(odd) .timeline-marker:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(250, 104, 98, 0); border-top-color: #FA6862; border-width: 10px; margin-left: -10px; }
  /* line 341, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(odd) .timeline-details { margin-left: 0; }
  /* line 344, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(odd) .arrow-right { display: none; }
  /* line 347, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(odd) .years { display: none; }
  /* line 350, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(odd) .associations { padding: 15px; }
  /* line 355, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(even) .timeline-marker { margin: 20px 0; }
  /* line 357, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(even) .timeline-marker:after { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(250, 104, 98, 0); border-bottom-color: #FA6862; border-width: 10px; margin-left: -10px; }
  /* line 372, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(even) .timeline-details { margin-right: 0; }
  /* line 375, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(even) .arrow-right { display: none; }
  /* line 378, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(even) .years { display: none; }
  /* line 381, ../sass/style-responsive.scss */
  .experience-timeline .row:nth-child(even) .associations { padding: 15px; }
  /* line 385, ../sass/style-responsive.scss */
  .experience-timeline .row .timeline-marker { float: none !important; }
  /* line 389, ../sass/style-responsive.scss */
  .experience-timeline .row + .row { margin-top: 20px; }
  /* line 393, ../sass/style-responsive.scss */
  .experience-timeline .right { margin-left: 0px; margin-top: 20px; }
  /* line 397, ../sass/style-responsive.scss */
  .associations, .associationsnews { margin-bottom: 15px; }
  /* line 400, ../sass/style-responsive.scss */
  .timeline-marker .label { font-size: 12px; }
  /* line 403, ../sass/style-responsive.scss */
  .section-counter { height: auto; padding-bottom: 60px; }
  /* line 407, ../sass/style-responsive.scss */
  .vc { text-align: center; }
  /* line 410, ../sass/style-responsive.scss */
  .fr, .fl { float: none; }
  /* line 414, ../sass/style-responsive.scss */
  .education .details, .education .year { width: 100%; margin-bottom: 10px; }
  /* line 419, ../sass/style-responsive.scss */
  .section-education .year h2 { margin-top: 11%; }
  /* line 422, ../sass/style-responsive.scss */
  .experience-timeline .left { margin-right: 0px; }
  /* line 425, ../sass/style-responsive.scss */
  .section-about .content, .content { padding: 0 10px; }
  /* line 428, ../sass/style-responsive.scss */
  .peoples { margin-bottom: 20px; }
  /* line 431, ../sass/style-responsive.scss */
  .tags ul li { width: 99%; line-height: 22px; float: left; margin-bottom: 5px; }
  /* line 437, ../sass/style-responsive.scss */
  .iamnotfatcat { height: 320px; }
  /* line 442, ../sass/style-responsive.scss */
  .contact-header .title { text-align: center; line-height: 1.5; }
  /* line 445, ../sass/style-responsive.scss */
  .contact-header .title i { display: inline-block; margin: 5px auto; }
  /* line 449, ../sass/style-responsive.scss */
  .contact-header .title span { display: block; } }
@media (max-width: 567px) { /* line 457, ../sass/style-responsive.scss */
  .mega-entry { height: 300px !important; } }
