extends layout/_layout

block content
  include partails/_home
  include partails/_navigation
  include partails/_about
  include partails/_skill
  include partails/_experiences
  include partails/_education
  include partails/_portfolio
  include partails/_awards
  include partails/_connect
  include partails/_contact
