.drag-arrow {
  background:url("../images/draggable-arrow.png") no-repeat;
  width:245px;
  height:119px;
  position:absolute;
  right:22%;
  top:-50px;
}

.drag-place {
  height: 196px;
  margin: auto;
  position: relative;
  top: 14px;
  width: 314px;
  z-index: 100;
}

.social-link-drag {
  z-index: 102;
  -webkit-transition: all 0.0s !important;
  -moz-transition: all 0.0s !important;
  transition: all 0.0s !important;
}

.social-drag-hover {
  background: rgba(250, 104, 98, 0.3);
  border: $defaultColor 2px dotted;
}

.firstHeading {
  margin-top: 0px;
  font-size: 14px;
}

/*social link*/

.social-link {
  background: url("../images/social-link.png") no-repeat top left;
  display: inline-block;
  position: absolute;
}

.sprite-behance {
  background-position: 0 0;
  width: 69px;
  height: 68px;
  right: 9%;
  top: 170px;
}

.sprite-facebook {
  background-position: 0 -118px;
  width: 69px;
  height: 68px;
  right: 15%;
  top: -80px;
}

.sprite-flickr {
  background-position: 0 -236px;
  width: 69px;
  height: 68px;
  right: 20%;
  top: 260px;
}

.sprite-github {
  background-position: 0 -354px;
  width: 69px;
  height: 68px;
  left: 20%;
  top: 250px;
}

.sprite-google-plus {
  background-position: 0 -472px;
  width: 69px;
  height: 68px;
  right: 16%;
  top: 80px;
}

.sprite-instagram {
  background-position: 0 -590px;
  width: 69px;
  height: 68px;
  left: 20%;
  top: -80px;
}

.sprite-linkedin {
  background-position: 0 -708px;
  width: 69px;
  height: 68px;
  right: 7%;
  top: 30px;
}

.sprite-mail {
  background-position: 0 -826px;
  width: 69px;
  height: 68px;
  left: 47%;
  top: -108px;
}

.sprite-printerest {
  background-position: 0 -944px;
  width: 69px;
  height: 68px;
  left: 5%;
  top: 170px;
}

.sprite-twitter {
  background-position: 0 -1062px;
  width: 69px;
  height: 68px;
  left: 13%;
  top: 30px;
}

.sprite-youtube {
  background-position: 0 -1180px;
  width: 69px;
  height: 68px;
  left: 5%;
  top: 150px;
}