= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"
script src="js/royal_preloader.js" 
javascript:
  var images = {
    'Banner One':      '/images/banner1.jpg',
    'Banner Two':      '/images/banner2.jpg',
    'Banner Three':    '/images/banner3.jpg',
    'Theme Bucket':    '/images/p1.jpg'/*,
    'About Me':        '/images/about-bg.jpg',
    'Experience':      '/images/experience-bg.jpg',
    'Connect Monitor': '/images/connect-monitor.png',
    'Contact Me':      '/images/jbk.jpg'*/
  };
  // config
  Royal_Preloader.config({
    mode:       'number',
    images:     images,
    timeout:    20,
    showInfo:   true,
    background: ['#FA6862']
  });
/! Bootstrap v3.1.0
script src="js/bootstrap.js" 
script src="js/jquery-ui-1.10.4.custom.min.js" 
/! jQuery REVOLUTION Slider
script src="js/jquery.revslider.plugins.min.js" 
script src="js/jquery.themepunch.revolution.js" 
/! Scroll Top
script src="js/jquery.scrollUp.js" 
/! Easing Effect
script src="js/jquery.easing.js" 
/! Knob
script src="js/jquery.easypiechart.js" 
/! One Page Nav
script src="js/jquery.nav.js" 
/! Scroll To
script src="js/jquery.scrollTo.js" 
/! Sticky Nav
script src="js/waypoints.js" 
script src="js/waypoints-sticky.js" 
/! Elements Animation On Scroll
script src="js/wow.js" 
/! jQuery Fittext
script src="js/jquery.fittext.js" 
/! Appear Animation
script src="js/jquery.appear.js" 
/! Masonry Grid
script src="js/jquery.isotope.js" 
/! Smooth Scroll Effect
script src="js/jquery.smooth-scroll.js" 
/! MEGAFOLIO GALLERY  JS FILES
script src="js/jquery.megafolio.plugins.min.js" 
script src="js/jquery.themepunch.megafoliopro.js" 
/! Magnific Popup core JS file
script src="js/jquery.magnific-popup.js" 
/! jQuery OwlCarousel
script src="js/owl.carousel.js" 
/! Drop Down Menu
script src="js/hoverIntent.js" 
script src="js/superfish.js" 
/! Syntax Highlighter
script src="js/prettify.js" 
/! Flickr Feed
script src="js/jflickrfeed.js" 
/! Plugins Initialize Scripts
= javascript_include_tag \
  "all"