#slides
.top-scroll-bar
/! home section end

.navigation.clearfix

/! about me section start
#about-me.section-about
/! about me section end

/! skill section start
#skill-section.section-skill
/! skill section end

/! experience section start
#experiences.section-experience
/! experience section end

/! counter section start
.section-counter
/! counter section end

/! section education start
#education.section-education
/! section education end

/! section portfolio start
#portfolio.section-portfolio
/! section portfolio end

/! section Awrads start
#awards.section-awards
/! end Awrads start

/! section works start
#blog.section-works
/! section works end

/! section Connect
.connect-section
/! section Connect end

/! section contact start
.section-contact
/! section contact end