/! home section start
= render "partials/home"
/! home section end

= render "layout_navigation"

/! about me section start
= render "partials/about"
/! about me section end

/! skill section start
= render "partials/skill"
/! skill section end

/! experience section start
= render "partials/experiences"
/! experience section end

/ /! counter section start
/ = render "partials/counter"
/ /! counter section end

/! section education start
= render "partials/education"
/! section education end

/! section portfolio start
= render "partials/portfolio"
/! section portfolio end

/! section Awrads start
= render "partials/awards"
/! end Awrads start

/ /! section works start
/ = render "partials/work"
/ /! section works end

/! section Connect
= render "partials/connect"
/! section Connect end

/! section contact start
= render "partials/contact"
/! section contact end