script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
script(type="text/javascript", src='scripts/royal_preloader.js')
script(type="text/javascript").
  var images = {
    'Banner One':      '/images/banner1.jpg',
    'Banner Two':      '/images/banner2.jpg',
    'Banner Three':    '/images/banner3.jpg',
    'Theme Bucket':    '/images/p1.jpg'/*,
    'About Me':        '/images/about-bg.jpg',
    'Experience':      '/images/experience-bg.jpg',
    'Connect Monitor': '/images/connect-monitor.png',
    'Contact Me':      '/images/jbk.jpg'*/
  };
  // config
  Royal_Preloader.config({
    mode:       'number',
    images:     images,
    timeout:    20,
    showInfo:   true,
    background: ['#FA6862']
  });
// Bootstrap v3.1.0
script(src='scripts/bootstrap.js')
script(src='scripts/jquery-ui-1.10.4.custom.min.js')
// jQuery REVOLUTION Slider
script(src='scripts/jquery.revslider.plugins.min.js')
script(src='scripts/jquery.themepunch.revolution.js')
// Scroll Top
script(src='scripts/jquery.scrollUp.js')
// Easing Effect
script(src='scripts/jquery.easing.js')
// Knob
script(src='scripts/jquery.easypiechart.js')
// One Page Nav
script(src='scripts/jquery.nav.js')
// Scroll To
script(src='scripts/jquery.scrollTo.js')
// Sticky Nav
script(src='scripts/waypoints.js')
script(src='scripts/waypoints-sticky.js')
// Elements Animation On Scroll
script(src='scripts/wow.js')
// jQuery Fittext
script(src='scripts/jquery.fittext.js')
// Appear Animation
script(src='scripts/jquery.appear.js')
// Masonry Grid
script(src='scripts/jquery.isotope.js')
// Smooth Scroll Effect
script(src='scripts/jquery.smooth-scroll.js')
// MEGAFOLIO GALLERY  JS FILES
script(src='scripts/jquery.megafolio.plugins.min.js')
script(src='scripts/jquery.themepunch.megafoliopro.js')
// Magnific Popup core JS file
script(src='scripts/jquery.magnific-popup.js')
// jQuery OwlCarousel
script(src='scripts/owl.carousel.js')
// Drop Down Menu
script(src='scripts/hoverIntent.js')
script(src='scripts/superfish.js')
// Syntax Highlighter
script(src='scripts/prettify.js')
// Flickr Feed
script(src='scripts/jflickrfeed.js')
// Plugins Initialize Scripts
script(type="text/javascript", src="scripts/all.js")
