script(type="text/javascript", src="vendors/jquery/jquery.min.js")
script(type="text/javascript", src='scripts/royal_preloader.js')
script(type="text/javascript").
  var images = {
    'Banner One':      '/images/banner1.jpg',
    'Banner Two':      '/images/banner2.jpg',
    'Banner Three':    '/images/banner3.jpg',
    'Theme Bucket':    '/images/p1.jpg'/
  };
  // config
  Royal_Preloader.config({
    mode:       'number',
    images:     images,
    timeout:    20,
    showInfo:   true,
    background: ['#FA6862']
  });
// Bootstrap v3.1.0
script(src='vendors/bootstrap/dist/js/bootstrap.min.js')
script(src='scripts/jquery-ui-1.10.4.custom.min.js')
// jQuery REVOLUTION Slider
script(src='scripts/jquery.revslider.plugins.min.js')
script(src='scripts/jquery.themepunch.revolution.js')
// Scroll Top
script(src='vendors/scrollup/dist/jquery.scrollUp.min.js')
// Easing Effect
script(src='vendors/jquery.easing/js/jquery.easing.min.js')
// Knob
script(src='vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
// One Page Nav
script(src='vendors/jQuery-One-Page-Nav/jquery.nav.js')
// Scroll To
script(src='vendors/jquery.scrollTo/jquery.scrollTo.min.js')
// Sticky Nav
script(src='vendors/jquery-waypoints/waypoints.min.js')
script(src='vendors/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js')
// Elements Animation On Scroll
script(src='vendors/wowjs/dist/wow.min.js')
// jQuery Fittext
script(src='vendors/FitText.js/jquery.fittext.js')
// Appear Animation
script(src='vendors/jquery.appear/jquery.appear.js')
// Masonry Grid
script(src='vendors/jquery.isotope/jquery.isotope.js')
// Smooth Scroll Effect
script(src='vendors/jquery-smooth-scroll/jquery.smooth-scroll.min.js')
// MEGAFOLIO GALLERY  JS FILES
script(src='scripts/jquery.megafolio.plugins.min.js')
script(src='scripts/jquery.themepunch.megafoliopro.js')
// Magnific Popup core JS file
script(src='vendors/magnific-popup/dist/jquery.magnific-popup.min.js')
// jQuery OwlCarousel ==> TODO update 2
script(src='scripts/owl.carousel.js')
// Drop Down Menu
script(src='vendors/jquery-hoverintent/jquery.hoverIntent.min.js')
script(src='vendors/superfish/dist/js/superfish.min.js')
// Syntax Highlighter
script(src='scripts/prettify.js')
// Flickr Feed
script(src='scripts/jflickrfeed.js')
// Plugins Initialize Scripts
script(type="text/javascript", src="scripts/all.js")
