#about-me.section-about
  .details
    .container
      .row
        .col-md-5
          .about-img.wow.fadeInUpBig
            img(alt="", src="images/p1.jpg")
        .col-md-7
          .content
            h1.section-heading(data-wow-delay="0s", data-wow-duration="1s") ABOUT ME
            h2.section-subheading.about(data-wow-delay=".2s", data-wow-duration="1s")
              | 洪緯禎 / Jerry Hung -
              span Web & Graphic Designer
            .text.about(data-wow-delay=".4s", data-wow-duration="1s")
              p 我是 JJ ，一個跨界設計師，我擁有十餘年的設計工作經驗，扎實的美術設計工底，略懂略懂前端技術。同時，熟悉設計與開發的流程與管理，可以考量團隊整體現況給予最佳最合適的設計解決方案。
              p 我崇尚敏捷精神，大小事都要用 User story 反覆驗證一番。工作上我習慣使用任務系統來規劃排程。人生上讓我思考最久的一件事就是設計師要怎麼善用 Git 來做版控!?
              p 相較於常見的設計師我具備較佳的抽象化、邏輯思考、分析歸納能力，這是 UI 設計非常重要的能力。尤其是對於系統、軟體而言，抽象化視覺元素、行為操作，整合為設計規範，是需要經驗與訓練養成的。
              p 此外我具備設計團隊、開發團隊 Leader 經驗，但希望從此不需要再做管理。因此希望未來的公司是個有共同利益優先的文化，因為需要靠管理的公司一旦沒有銀彈，就只能滾蛋了。雖然我有著 40 歲高齡，剛好天生幼稚也能和鮮肉同事們處的不錯，人品也還不錯（買東西很少壞）跟老人也能相親相愛。
              p 目前我極力尋找一家又可以站上世界舞台的機會，藉此證明上面所講的一切，以及相信成功的產品離不開勇於創新的精神，一絲不苟的態度、精益求精的打磨。希望能透過這十幾年來的工作經驗，與優秀的人才們，堅持做有靈魂的產品，用經驗、體驗真正打動使用者的心。幫助人類過過渡到全新的世代。
            .wow.bounceIn.fr(data-wow-delay="0s", data-wow-duration="1s")
              img.sign(alt="", src="images/sign.png")
            .custombtn.wow.bounceIn(data-wow-delay=".2s", data-wow-duration="1s")
              .icons
                i.fa.fa-download
              .text
                a(href="resume/jj-cv.pdf") Download Resume
