#about-me.section-about
  .details
    .container
      .row
        .col-md-5
          .about-img.wow.fadeInUpBig
            img(alt="", src="images/p1.jpg")
        .col-md-7
          .content
            h1.section-heading(data-wow-delay="0s", data-wow-duration="1s") ABOUT ME
            h2.section-subheading.about(data-wow-delay=".2s", data-wow-duration="1s")
              | 洪緯禎 / Jerry Hung -
              span Web & Graphic Designer
            .text.about(data-wow-delay=".4s", data-wow-duration="1s")
              p 多年的工作以來...深深體驗到設計工作的甘苦點滴...當中深刻了解到一個專案的完成絕非一觸可及，需要有專業的素養基礎、熟練的軟體操作跟經驗，再加上客觀的思維，細心的規劃，並耐心地持續進行，才能為客戶量身打造出合適的作品...而當中無非是希望贏得客戶讚賞，持續的成長以及自我的肯定。
              p 因此訓練出自己對工作態度的要求，需始終保持效率、創新、責任、細心與耐心。並在工作時間外，嘗試各種新穎軟體、網頁程式語言及系統的學習，以精進自己的工作效能及程度的提昇。
            .wow.bounceIn.fr(data-wow-delay="0s", data-wow-duration="1s")
              img.sign(alt="", src="images/sign.png")
            .custombtn.wow.bounceIn(data-wow-delay=".2s", data-wow-duration="1s")
              .icons
                i.fa.fa-download
              .text
                a(href="resume/resume.doc") Download Resume
