mixin award-item(src, detail1, detail2, quote)
  div
    .awards-thumb
      .img-frame.wow.bounceInDown
        img.award(src=src)
      .details
        h2 #{detail1}
        h3 #{detail2}
    .quote
      p #{quote}
#awards.section-awards
  .container
    .row
      .col-md-12
        .section-title
          h1.section-heading AWARDS
          h2.section-subheading-nobg 堅持自己，靜待風起，希望人生能更加不凡
    .row
      .col-md-12
        #awards-carousel
          +award-item('images/ap_award.png', '第四屆國家出版獎', '佳作','與國立台灣戲曲學院合作之作品腳底真功夫-傳統戲靴製作一書，榮獲第四屆國家出版獎 佳作。很高興能夠參與如此重要的知識保存工作，尤其對逐漸失傳技藝，慶幸有人願意用文字撰寫傳承下來，對文化資產的欣賞與保存，有機會做出重要貢獻。')
          +award-item('images/ntu.png', 'PNC 2011一般類海報展示競賽', '第一名','為客戶台灣大學設計的海報，在太平洋鄰里協會(Pacific Neighborhood Consortium，以下簡稱PNC)，2011年會暨聯合會議中獲得海報展示競賽第一名的殊榮。')
