.section-contact
  #contact.contact-header
    .container
      .title
        i.fa.fa-thumbs-up
        span 如果你覺得 JJ 還不錯，願意給我一個舞台，我相信我們會合作愉快。

  .contact-info
    .iamnotfatcat
       h3 不要讓這樣的事發生
    .contact-form.panel-hide.wow.bounceInUp
      .form-container
        .wow.slideInLeft
          img(alt="", src="images/footer-logo.png")
          //- TODO: CHANGE UL LI
          p
          .f-address
            p
              span Email
            p
              a(href="mailto:jmobile7722@gmail.com") jmobile7722@gmail.com
            p
              span Phone
            p
              | +886 926 085 150
            p
              span Website
            p
              a(href="http://uiuxpro.club/") uiuxpro.club
    .toggle-contact-form.wow.bounceInUp
      a.form-toggle-icon(href="index.html#")
        i.fa.fa-envelope-o
  .copyright
    .container
      .row
        .col-md-12
          | &copy; 2018 All Rights Reserved. Designed by JJ Hung
