.connect-section
  .container
    .row
      .col-md-12
        .section-title
          h1.section-heading connect
          h2.section-subheading-nobg 如果你想了解更進一步的。我
        .draggable-monitor
          .drag-place
          .drag-arrow
          a.social-link.social-link-drag.sprite-facebook.wow.bounceIn(href="https://www.facebook.com/jerry7722")
          a.social-link.social-link-drag.sprite-google-plus.wow.bounceIn(data-wow-delay=".4s", href="https://plus.google.com/u/0/117137766844908505749/posts")
          a.social-link.social-link-drag.sprite-linkedin.wow.bounceIn(data-wow-delay=".8s", href="tw.linkedin.com/pub/jerry-hung/60/a80/325/")
          a.social-link.social-link-drag.sprite-behance.wow.bounceIn(data-wow-delay="1.2s", href="https://www.behance.net/jerrysdesign6150")
          a.social-link.social-link-drag.sprite-flickr.wow.bounceIn(data-wow-delay="1.6s", href="https://www.flickr.com/photos/j-mobile/")
          a.social-link.social-link-drag.sprite-instagram.wow.bounceIn(data-wow-delay=".4s", href="http://instagram.com/jerrysdesign")
          a.social-link.social-link-drag.sprite-youtube.wow.bounceIn(href="https://www.youtube.com/user/jerrymobile")
          a.social-link.social-link-drag.sprite-twitter.wow.bounceIn(data-wow-delay=".8s", href="https://twitter.com/junnnnj")
          a.social-link.social-link-drag.sprite-github.wow.bounceIn(data-wow-delay="1.6s", href="https://github.com/jerrysdesign")
          //- todo: dribbble
