#education.section-education
  .container
    .row
      .col-md-12
        .section-title
          h1.section-heading EDUCATION
          h2.section-subheading-nobg 我想，文盲是指那些自以為是，而停止學習的人
    .row
      .col-md-12
        .education
          .details.wow.slideInLeft
            .content
              h2.section-subtitle 高中
              p
                | 復興商工
          .year
            .reddot.left-dot.wow.bounceIn
            div
              h2.section-subtitle DEC / 1998
            .reddot.right-dot.wow.bounceIn
          .details.higherz.wow.slideInRight
            .content
              h2.section-subtitle 廣告設計科 / 空間設計組
              p
                | 業界俗稱的復興美工，其實要順利畢業也不是什麼難事，但是要畢不了業也不是什麼不常見的大事 :)
        .education
          .details.wow.slideInLeft
            .content
              h2.section-subtitle
                strike 學市
              p
                | 社會大學
          .year
            .reddot.left-dot.wow.bounceIn
            div
              h2.section-subtitle 20??
            .reddot.right-dot.wow.bounceIn
          .details.higherz.wow.slideInRight
            .content
              h2.section-subtitle 網頁設計
              p
                | 當初沒有念大學，所幸現在的專長跟學校沒有太大關係。或許也因為如此，我不想放棄任何可以學習的機會。
