#education.section-education
  .container
    .row
      .col-md-12
        .section-title
          h1.section-heading EDUCATION
          h2.section-subheading-nobg 我想，文盲是指那些自以為是，而停止學習的人
    .row
      .col-md-12
        .education
          .details.wow.slideInLeft
            .content
              h2.section-subtitle 高中
              p 復興商工
          .year
            .reddot.left-dot.wow.bounceIn
            div
              h2.section-subtitle DEC / 1998
            .reddot.right-dot.wow.bounceIn
          .details.higherz.wow.slideInRight
            .content
              h2.section-subtitle 廣告設計科 / 空間設計組
              p 業界俗稱的復興美工，幾年過去後，覺得復興出來的學長姐、學弟妹在業界都非常優秀。很高興自己也可以是復興人。
        .education
          .details.wow.slideInLeft
            .content
              h2.section-subtitle
                strike 大學
              p 無
          .year
            .reddot.left-dot.wow.bounceIn
            div
              h2.section-subtitle --
            .reddot.right-dot.wow.bounceIn
          .details.higherz.wow.slideInRight
            .content
              h2.section-subtitle 設計
              p 在人人念大學的年代中，當初沒有選擇繼續升學，難免覺得人生少了些什麼? 或許正因為如此，我不想錯過任何可以學習的機會。
