.sticky-wrapper
  .navigation.clearfix
    .container
      .row
        .col-md-12
          .navbar.navbar-static-top
            div
              .navbar-header
                button.navbar-toggle(data-target=".navbar-collapse", data-toggle="collapse", type="button")
                  span.fa.fa-bars
                a.sticky-logo(href="index.html")
                  img(src="images/logo.png")
              #smoothmenu1.navbar-collapse.collapse.ddsmoothmenu
                ul.nav.navbar-nav.pull-right.top-nav.sf-menu.sf-js-enabled.sf-arrows
                  li: a(href="index.html#about-me") Jerry
                  li: a(href="index.html#skill-section") Skill
                  li: a(href="index.html#experiences")  Experiences
                  li: a(href="index.html#education") Education
                  li: a(href="index.html#portfolio") Portfolio
                  li: a(href="index.html#awards") Awards
                  li: a(href="index.html#contact") Contact
