#portfolio.section-portfolio
  .container
    .row
      .col-md-12
        // Modal
        #portfolioModal_01.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-6
                .modal-img
                  img(alt="img", src="images/portfolio/locomo-1.jpg")
              .col-md-6
                .portfolio-modal-content
                  h3 LOCOMO 運動記錄
                  p Web Site Design
                  //- a.btn.btn-view-all href="javascript:;"  Live Demo
        // Modal
        #portfolioModal_02.modal.fade(aria-hidden="true", role="dialog" tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-8
                .modal-img
                  img(alt="img", src="images/portfolio/dianjia_logo_mockup.jpg")
                .modal-img
                  img(alt="img", src="images/portfolio/dianjia_logo_0.png")
                .modal-img
                  img(alt="img", src="images/portfolio/dianjia_logo_1.jpg")
              .col-md-4
                .portfolio-modal-content
                  h3 典珈公司
                  p  Logo Design
                  //- a.btn.btn-view-all href="javascript:;"  Live Demo
        // Modal
        #portfolioModal_03.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-8
                .modal-img
                  img(alt="img", src="images/portfolio/locomo_app_landingpage.jpg")
              .col-md-4
                .portfolio-modal-content
                  h3 LOCOMO 運動記錄
                  p APP Download Landing Page
                  a.btn.btn-view-all(href="http://just-hire.me/portfolio/locomo/app/")  Live Demo

        // Modal
        #portfolioModal_04.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-9
                .modal-img
                  img(alt="img", src="images/portfolio/bws-lside.jpg")
              .col-md-3
                .portfolio-modal-content
                  h3 BWS
                  p Painting
                  //- a.btn.btn-view-all href="http://just-hire.me/portfolio/locomo/app/"  Live Demo
        // Modal
        #portfolioModal_05.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-8
                .modal-img.bg-b
                  img(alt="img", src="images/portfolio/ndltd_index5-1.jpg")
                  br
                  img(alt="img", src="images/portfolio/ndltd_index5-2.jpg")
                  br
                  img(alt="img", src="images/portfolio/ndltd_index5-3.jpg")
                  br
                  img(alt="img", src="images/portfolio/ndltd_sub4.jpg")
                  br
                  img(alt="img", src="images/portfolio/ndltd_index2.gif")
                  br
                  img(alt="img", src="images/portfolio/ndltd_index3.gif")

              .col-md-4
                .portfolio-modal-content
                  h3 國家圖書館 全國博碩士論文資訊網
                  p Web Site Design
                  //- a.btn.btn-view-all href="http://just-hire.me/portfolio/locomo/app/"  Live Demo

        // Modal
        #portfolioModal_06.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-9
                .modal-img
                  img(alt="img", src="images/portfolio/stust_web2.0.jpg")
              .col-md-3
                .portfolio-modal-content
                  h3 南台科技大學圖書館WEB2.0
                  p Web Site Design
                  p 由於程式設計師介紹我使用Bootstrap,起初對這樣打包好的開發工具也沒什麼好感，畢竟都習自己寫那麼久了，改變一個工作習慣也怪怪的。
                  p 隨著專案的進行，越來越了解Bootstrap，也漸漸改觀了，這真是一套超方便懶人開發工具，一直到網站上線。你知道我只用了幾張圖檔嗎?真是少到一個誇張。
                  //- a.btn.btn-view-all href="http://just-hire.me/portfolio/locomo/app/"  Live Demo

        #portfolioModal_07.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
          .container-fluid.portfolio-modal
            a.close.modal-exit(aria-hidden="true", data-dismiss="modal")  &times;
            .row
              .col-md-8
                .modal-img.bg-b
                  img(alt="img", src="images/portfolio/ntcpa_b_a4_01.jpg")
                  br
                  img(alt="img", src="images/portfolio/ntcpa_b_a4_02.jpg")
                  br
                  img(alt="img", src="images/portfolio/ntcpa_b_a4_03.jpg")
              .col-md-4
                .portfolio-modal-content
                  h3 國立台灣戲曲學院附設綜藝團
                  p Brochure Design

        .section-title
          h1.section-heading PORTFOLIO
          h2.section-subheading-nobg 我之於什麼是好設計，就如於同科學家探索世界一般
    .row
      .col-md-12
        section
          // THE FILTER STYLED FOR MEGAFOLIO
          .tags.filter-nav
            ul
              li.filter.selected(data-category="cat-all")  ALL
              li.filter(data-category="cat-one")  WEB DESIGN
              li.filter(data-category="cat-three")  GRAPHIC DESIGNER
              li.filter(data-category="cat-two")  ILLUSTRATION
              //- li.filter.last-child data-category="cat-four"  WEB DESIGN
          .clear
          // The GRID System
          .megafolio-container.light-bg-entries
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/locomo_cover_01.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | LOCOMO 運動記錄
                  .mega-hoversubtitle
                    | Web Site Design
                a(data-target="#portfolioModal_01", data-toggle="modal", href="javascript:;")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-three.cat-all(data-height="500", data-src="images/portfolio/dianjia_logo_mockup.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | DainJia ,Co. ltd
                  .mega-hoversubtitle
                    | Logo Design
                a(data-target="#portfolioModal_02", data-toggle="modal", href="javascript:;")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/locomo_app_cover.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | LOCOMO 運動記錄 Landing Page
                  .mega-hoversubtitle
                    | Web Design
                a(data-target="#portfolioModal_03", data-toggle="modal" href="javascript:;")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-two.cat-all(data-height="500", data-src="images/portfolio/bws-lside_cover.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | BWS
                  .mega-hoversubtitle
                    | Painting
                a(data-target="#portfolioModal_04", data-toggle="modal", href="javascript:;")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/fitmi_mockup01.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | FitMi 雲端減重服務 Landing Page
                  .mega-hoversubtitle
                    | Web Design
                a(target="_blank" href="http://just-hire.me/portfolio/fitmi/lp_1/")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/fitmi_mockup02.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | FitMi 雲端減重服務 Landing Page
                  .mega-hoversubtitle
                    | Web Design
                a(target="_blank", href="http://just-hire.me/portfolio/fitmi/lp_2/")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/fitmi_mockup03.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | FitMi 雲端減重服務 Landing Page
                  .mega-hoversubtitle
                    | Web Design
                a(target="_blank" href="http://just-hire.me/portfolio/fitmi/lp_3/")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/fitmi_mockup04.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | FitMi 雲端減重服務 Landing Page
                  .mega-hoversubtitle
                    | Web Design
                a(target="_blank" href="http://just-hire.me/portfolio/fitmi/lp_4/")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/ndltd_indexc_cover.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | 國家圖書館 全國博碩士論文資訊網
                  .mega-hoversubtitle
                    | Web Site Design Proposal
                a(data-target="#portfolioModal_05", data-toggle="modal" href="javascript:;")
                  .mega-hoverview
            .mega-entry.cat-one.cat-all(data-height="500", data-src="images/portfolio/stust_web2.0.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | 南台科技大學圖書館WEB2.0
                  .mega-hoversubtitle
                    | Web Site Design
                a(data-target="#portfolioModal_06", data-toggle="modal", href="javascript:;")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-four.cat-all(data-height="500", data-src="images/portfolio/cover.jpg", data-width="500")
              .mega-hover.alone
                .mega-hovertitle
                  | More...
                  //- .mega-hoversubtitle
                  //-   | Category
                a(target="_blank", href="http://www.junnnnj.com/blog/#portfolio")
                  .mega-hoverview
            // A GALLERY ENTRY
            .mega-entry.cat-three.cat-all(data-height="500", data-src="images/portfolio/ntcpa_b_a4_cover.jpg", data-width="625")
              .mega-hover.alone
                .mega-hovertitle
                  | 國立台灣戲曲學院附設綜藝團
                  .mega-hoversubtitle
                    | Brochure Design
                  .mega-hoverview
                a(data-target="#portfolioModal_07", data-toggle="modal", href="javascript:;")
                  .mega-hoverview
