#skill-section.section-skill.appear
  .container
    .row
      .col-md-12
        .section-title
          h1.section-heading(data-scrollreveal="enter left")  SKILL
          h2.section-subheading-nobg(data-scrollreveal="enter left") 我的能力真的不錯，以外在追求新穎的技術上希望有所加分...
    .row
      .col-md-4
        .skill.wow.fadeInLeftBig
          .name
            .arrow
            ul.label
              li: a(href="http://www.adobe.com/tw/products/photoshop.html", target="_blank") Photoshop
              li: a(href="http://www.adobe.com/tw/products/illustrator.html", target="_blank") Illustrator
              li: a(href="http://www.adobe.com/tw/products/indesign.html", target="_blank") InDesign
              li: a(href="https://www.sketchapp.com", target="_blank") Sketch
          .knob
            span.chart(data-percent="95")
              span.percent 神
      .col-md-4
        .skill
          .name
            .arrow
            ul.label
              li: a(href="http://www.html5rocks.com/en/", target="_blank") HTML & CSS
          .knob
            span.chart(data-percent="90")
              span.percent 棒
      .col-md-4
        .skill.wow.fadeInRightBig
          .name
            .arrow
            ul.label
              li: a(href="http://jquery.com/", target="_blank") jQuery
          .knob
            span.chart(data-percent="50")
              span.percent 正
    .row
      .col-md-10.col-md-offset-1
        .skillnews
          h2 開發環境與工具
          ul.tool
            li: a(href="http://sass-lang.com/", target="_blank") Sass
            li: a(href="http://stylus-lang.com/", target="_blank") stylus
            li: a(href="http://susy.oddbird.net/", target="_blank") Susy
            li: a(href="http://compass-style.org/reference/compass/", target="_blank") Compass
            li: a(href="http://bourbon.io/", target="_blank") Bourbon
            li: a(href="http://neat.bourbon.io/", target="_blank") NEAT
            li: a(href="http://www.w3schools.com/js/DEFAULT.asp", target="_blank") Javascript
            li: a(href="http://www.sourcetreeapp.com/", target="_blank") Git
            li: a(href="https://reactjs.org/", target="_blank") React.js
            li: a(href="https://vuejs.org/", target="_blank") Vue.js
            li: a(href="https://www.npmjs.com/", target="_blank") Npm
            li: a(href="https://gulpjs.com/", target="_blank") Gulp.js
            li: a(href="https://pugjs.org/", target="_blank") Pug.js
            li: a(href="http://postcss.org/", target="_blank") PostCss
            li: a(href="http://zh.wikipedia.org/wiki/%E5%93%8D%E5%BA%94%E5%BC%8F%E7%BD%91%E9%A1%B5%E8%AE%BE%E8%AE%A1", target="_blank") Responsive
            li: a(href="http://www.google.com/intl/zh-TW/analytics/", target="_blank") Google Analytics 流量分析追蹤
            li: a(href="https://www.facebook.com/advertising?campaign_id=206096250748&placement=broad&creative=31837047612&keyword=facebookads&extra_1=4ecc22ee-de0e-a7c9-bbae-0000023a546c", target="_blank") FB 廣告投放
            li: a(href="http://www.sublimetext.com/", target="_blank") Sublime Text
            li: a(href="https://www.git-tower.com/mac/", target="_blank") Tower
          //- p 自小就知道，錢可以解決很多問題，可以實踐理想、可以幫助別人、也可以買到許多特殊經驗，換到滿足換到快樂，簡單的說，多數人類的夢想就是得到快樂。賺很多錢，退休以後足以生活。我一直在探索『最好的賺錢之道』，無非就是希望不只有得到相對報酬時很快樂，因為每天佔據最長時間的工作，做設計讓我感到快樂，。
